body{
    background-image: linear-gradient(rgb(38, 38, 126),rgb(69, 69, 167),rgb(91, 91, 202),rgb(115, 115, 196),rgb(160, 160, 229));
    color:white;
}
p{
    font-family: 'Cedarville Cursive', cursive;
     font-size: 30px;
}
#score{
    font-size: 25px;
    margin-left:20px;
}
#timer{
    font-size:25px;
    float:right;
    margin-right:20px;
}
#show_sketch{
    float:right;
    margin-right:20px;
}
h1{
    margin-left:20px;
}
canvas{
    border:5px solid white;
    border-radius:15px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{
        box-shadow: 1px 1px 38px grey;
    }
    to{
        box-shadow: 1px 1px 38px white;
    }
}